* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
/* shared styles */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    padding: 13px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}
.btn-transparent {
    background-color: transparent;
    border: 1px solid white;
}
.h3-style {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

/* .btn-green{
    background-color: #30B868;
}
.btn-light-green{} */

/* main styles */
header {
    max-height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px auto;
}
/* header .navbar {
    max-width: 365px;
} */
header .navbar nav ul {
    display: flex;
    gap: 32px;
}
header .navbar nav ul a {
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    text-decoration: none;
}
header .logo {
    margin-left: 120px;
}
header .btn-earlyaccess {
    margin-right: 120px;
}


#banner {
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 675px;

    display: flex;
    align-items: center;     /* vertical center */
    justify-content: center;
}
#banner .banner-container {
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 30px;
}
#banner .banner-container .earlyaccess {
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    width: 230px;
    height: 35px;
}
.earlyaccess a {
    text-decoration: none;
    font-size: 16px;
    color: #30B868;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
}
.earlyaccess i {
    border-radius: 8px;
    width: 16px;
    margin-right: 8px;
}
#banner .banner-title {
    width: 770px;
    height: 168px;
    text-align: center;
}
#banner .banner-title h1 {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    opacity: 90%;
}
#banner .banner-title .banner-title-green {
    color: #30B868;
}
#banner .banner-about {
    text-align: center;
    max-width: 670px;
}
#banner .banner-about p {
    font-size: 16px;
    line-height: 24px;
    /* margin: 0 auto; */
    color: #FFFFFF;
}
#banner .banner-btn {
    display: flex;
    gap: 16px;
}